body {
  background-color: #F5F5F5;
  color: #555;
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* container*/
.container{
	width:720px;
	margin:auto auto;
	height:auto;
}
/*Menu*/

.menu li{
	display:inline-block;
	position:relative;
}
li{
	border:1px solid grey;
	padding:7px 7px;
	background:#EE3F4E;
}
.menu li:hover{
	background:#0BF071;
	transition:all 0.5s;
	cursor: pointer;
}
li ul{
	position:absolute;
	display:none;
}
li:hover ul{
	display:block;
	top:105%;
	left:-70%;
}
li ul li{
	width:150px;

}
